.composition {
  position: relative;

  &__photo {
    width: 55%;
    position: absolute;
    box-shadow: 0 1.5rem 4rem rgba(#000000, 0.4);
    border-radius: 2px;
    transition: all 0.3s;
    z-index: 10;
    outline-offset: 1rem;
    &--p1 {
      top: -2rem;
      left: 0;
    }
    &--p2 {
      right: 0;
      top: 2rem;
    }
    &--p3 {
      top: 10rem;
      left: 20%;
    }

    &:hover {
      outline: 1.5rem solid $color-primary-dark;
      transform: scale(1.1);
      box-shadow: 0 2.5rem 4rem rgba(#000000, 0.4);
      z-index: 20;
    }
  }
  &:hover &__photo:not(:hover) {
    transform: scale(0.93);
  }
}
